.firstHeader {
    font-size: .875em;
    color: wheat;
    margin-top: 0px;
    padding-top: 10px;
}

.socialMedia {
    font-size: 15px;
    margin: 10px;
}

.socialMediaButtons {
    border: none;
    background-color: transparent;
    color: wheat;
}

.logoHeader {
    height: 60px;
    width: 100px;
    margin-left: 25px;
}

.horizontaRule {
    color: rgb(230, 234, 238);
    margin: 0; /* Adjust this to control spacing */
    border: none; /* Ensure no border default styles */
}

.mainHeader {
    background: #46008083;
    position: absolute; /* or 'fixed' */
  top: 0;
  left: 0;
  right: 0;
  /* height: 60px; Adjust height as needed */
  /* background-color: rgba(255, 255, 255, 0.5); White with 50% transparency */
  z-index: 1000; /* Ensure it sits above the slider */
  /* display: flex; */
  align-items: center;
  justify-content: center;
    
}

.DonateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 123, 0);
    border: 2px rgb(255, 123, 0) solid;
    border-radius: 6px;
    background: none;
    margin-left: 15px;
    font-size: 20px;
    padding: 10px 15px;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.DonateButton:hover {
    color: white;
    background-color: rgb(255, 123, 0);
    cursor: pointer;
}

.navigationMenu {
    font-size: 25px;
    margin: 10px 35px;
    text-align: center;
    align-items: center;
}

.navItems {
    color: white;
}

.circle-icon {
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #e0e0e0;
    border-radius: 50%;
    font-size: 25px;
    color: #333;
}

.secondHeader {
    margin-top: 0; /* Ensure no extra margin at the top */
    padding-top: 0; /* Ensure no extra padding at the top */
    padding-bottom: 0; /* Optionally adjust padding at the bottom if needed */
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center{
    padding: 0px 15px
}

.nav-item .DonateButton{
    margin-right: 40px;
}

.whatsAppMargin{
    margin-right: 40px;
}

/* Ensure dropdown menu is hidden by default */
.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    visibility: hidden;
}

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    margin-top: 0;
}

